* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.pr {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.prt,
.prb {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
header {
  padding: 15px 0;
  text-align: center;
  background: url(img/esbn2.jpg);
  background-size: 100% 100%;
  background-position: right center;
  height: 100vh;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  font-style: italic;
}
nav {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
/* 섹션 스타일 */
.section {
  text-align: center;
  padding: 60px 20px;
}

.section h2 {
  color: #d90000;
  font-size: 60px;
  margin-bottom: 20px;
}

.artist img {
  width: 60%;
  max-width: 1200px;
  margin-bottom: 30px;
}
button {
  background: #d90000;
  color: white;
  padding: 10px 30px;
  margin: 20px;
  font-size: 20px;
}

/* 제품 목록 */
.section h2 {
  margin-bottom: 50px;
}

.products {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.pl,
.pr {
  width: 48%;
}
.pl img,
.pr img,
.prs img {
  width: 100%;
}
.prs {
  text-align: center;
}

/* 흐르는 글씨 */
.text {
  display: inline-block;
  font-size: 5rem;
  color: #d90000;
  position: absolute;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

/* 스토어 */
.store img {
  width: 80%;
  max-width: 800px;
  margin-top: 200px;
  margin-bottom: 100px;
}

/* 핫 리뷰 */
.Reviews {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}
.re img {
  max-width: 1600px;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/* 푸터 */
.footer {
  background-color: black;
  color: white;
  padding: 20px;
}

/*반응형*/
@media (max-width: 600px) {
  header {
    height: 300px;
  }
  .artist img {
    width: 95%;
  }
  .products {
    flex-direction: column;
    align-items: center;
  }
  .pl,
  .pr {
    width: 100%;
  }
  .store img {
    width: 98%;
  }
  .re img {
    max-width: 600px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-left: 1px;
    padding-right: 1px;
  }
}
